{
  "author": {
    "author_id": "{{ author }}",
    "display_name": "{{ author }}",
    "website": "{{ homepage }}"
  },
  "description": "{{ description }}",
  "display_name": "{{ name }}",
  "package_id": "{{ package_id }}",
  "package_type": "plugin",
  "package_version": "{{ version }}",
  "sdk_version": 8,
  "sdk_version_semver": "8.4.0",
  "website": "{{ repository }}"
}